{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 main-view">
            <div id="map"></div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-warning">Download</button>
        </div>
        <div class="col-md-4 text-center" id="status-line">
            <p>Click on Junction, Tank, Reservoir, Pipe, Valve or Pump to show its properties.</p>
        </div>
        <div class="col-md-4 text-right">
            <input type="text" id="featureIdInput" placeholder="ID" onkeydown="if(event.key === 'Enter') gotoFeature()">
            <button class="btn btn-primary" onclick="gotoFeature()">Goto</button>
        </div>
    </div>
</div>

<script>

var url_grau = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png';
var tilelayer_grau = L.tileLayer(url_grau, { maxZoom: 20, attribution: '...', subdomains: ['a', 'b', 'c', 'd']});

var map = new L.Map('map', { zoom: 14, layers: [tilelayer_grau]});

drawnItems = L.featureGroup().addTo(map);

let colors = {{ colors|safe }};

var links_geojson = {{ links|safe }};
var nodes_geojson = {{ nodes|safe }};

let links = L.geoJson(links_geojson, {
    style: function(feature) {
        let link_type = feature.properties.type;
        return {
            color: colors[link_type], // || '#000000'
            weight: 2,
        }
    },
    onEachFeature: function(feature, layer) {
        let content = '<div class="popup-content"><table class="table table-bordered table-striped">';
        Object.keys(feature.properties).forEach(function(key) {
            if (typeof feature.properties[key] === 'object') {
                // handle nested object
                content += '<tr><td colspan="2" class="font-weight-bold">' + key + ':</td></tr>';
                Object.keys(feature.properties[key]).forEach(function(subkey) {
                    content += '<tr><td class="font-weight-bold">' + subkey + ':</td><td>' + feature.properties[key][subkey] + '</td></tr>';
                });
            } else {
                // handle regular property
                content += '<tr><td class="font-weight-bold">' + key + ':</td><td>' + feature.properties[key] + '</td></tr>';
            }
        });
        content += '</table></div>';
        layer.bindPopup(content);
    }
});

drawnItems.addLayer(links);

let nodes = L.geoJson(nodes_geojson, {
    pointToLayer: function (feature, latlng) {
        let node_type = feature.properties.type;
        return L.circleMarker(latlng, {
            // Stroke properties
            color: colors[node_type], // || '#000000'
            opacity: 0.75,
            weight: 5,

            // Fill properties
            fillColor: '#5EA4D4',
            fillOpacity: 1.0,

            radius: 3
        });
    },
    onEachFeature: function(feature, layer) {
        let content = '<div class="popup-content"><table class="table table-bordered table-striped">';
        Object.keys(feature.properties).forEach(function(key) {
            if (typeof feature.properties[key] === 'object') {
                // handle nested object
                content += '<tr><td colspan="2" class="font-weight-bold">' + key + ':</td></tr>';
                Object.keys(feature.properties[key]).forEach(function(subkey) {
                    content += '<tr><td class="font-weight-bold">' + subkey + ':</td><td>' + feature.properties[key][subkey] + '</td></tr>';
                });
            } else {
                // handle regular property
                content += '<tr><td class="font-weight-bold">' + key + ':</td><td>' + feature.properties[key] + '</td></tr>';
            }
        });
        content += '</table></div>';
        layer.bindPopup(content);
    }
});

drawnItems.addLayer(nodes);

map.fitBounds(drawnItems.getBounds());

function gotoFeature() {
    var featureId = document.getElementById('featureIdInput').value;
    var feature = findFeatureById(featureId);

    if (feature) {
        if (feature instanceof L.Polyline) {
            map.flyToBounds(feature.getBounds().pad(0.1), {
                duration: 1,
                maxZoom: 19,
            });
        }
        else {
            map.flyTo(feature.getLatLng(), 19, {
                duration: 1,
                maxZoom: 19,
            });
        }

        document.getElementById('status-line').innerHTML = '<p></p>';
        feature.openPopup();
    } else {
        document.getElementById('status-line').innerHTML = '<p>Feature not found</p>';
    }
}

function findFeatureById(featureId) {
    var layers = [links, nodes];

    for (var i = 0; i < layers.length; i++) {
        var layer = layers[i].getLayers();
        for (var j = 0; j < layer.length; j++) {
            if (layer[j].feature.properties.id === featureId) {
                return layer[j];
            }
        }
    }

    return null;
}

</script>

{% endblock %}
