{% extends "base.html" %}

{% block content %}

<!-- main content -->
<main class="container">
    <div class="content">

        <div class="row" style="margin-top: 32px;">

            <!-- args -->
            <div class="col-sm-12">

                <form class="row g-3" action="{% url 'new' %}" method="post" id="main_form">

                    {% csrf_token %}

                    <div class="col-md-3">
                        <label for="analysis_name" class="form-label">Analysis name</label>
                        <input type="text" class="form-control" id="analysis_name" name="analysis_name" value="Test Analysis">
                    </div>

                    <div class="col-md-6">
                        <label for="network_id" class="form-label">Network</label>
                        <select name="network_id" class="form-select" aria-label="Default select example">
                            {% for network in networks %}
                                <option value="{{ network.id }}">{{network.id}} • {{ network.name }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="analysis_type" class="form-label">Analysis Type</label>
                        <select id ="analysis_select" name="analysis_type" class="form-select" aria-label="Default select example" onchange="change_analysis_type(event.target.value)">
                            {% for a_key, a_val in analyses_info.items %}
                                <option value="{{ a_key }}">{{ a_val.pretty }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-12">
                        <button id="thebutton" type="submit" class="btn btn-success" onclick="checkInput();" disabled><i class="fas fa-circle-nodes"></i> Run analysis</button>
                    </div>

                    <hr />

                    {% for a_key, a_val in analyses_info.items %}
                    <div class="argdiv hidden" id="{{ a_key }}">

                    {% for param_name, param_info in a_val.params.items %}
                    <div class="col-md-12" style="margin-top: 4px;">
                        <label for="{{param_name}}" class="form-label">{{ param_info.pretty }}</label>
                        <input type="text" class="form-control" id="{{param_name}}" name="{{param_name}}" value="0.13">
                    </div>
                    {% endfor %}

                    </div>
                    {% endfor %}

                </form>

            </div>

        </div>

        <div class="row" style="margin-top: 10px;">
            <div id="alert-ui" class="alert alert-primary" role="alert">
                You have to provide an EPANET input file.
            </div>
        </div>

    </div>
</main>

<style>
.hidden {
    display: none;
}
</style>

<script>
    const argdivs = document.querySelectorAll("div.argdiv");

    const analysis_select = document.getElementById("analysis_select");

    let analyses_info = {{ analyses_info|safe }};

    function change_analysis_type(value) {
        //console.log(value);
        argdivs.forEach(div => {
            div.classList.add("hidden");

            const inputs = div.querySelectorAll('input');
            inputs.forEach(input => {
                input.disabled = true;
            });
        });

        const selectedDiv = document.getElementById(value);
        selectedDiv.classList.remove("hidden");

        const inputs = selectedDiv.querySelectorAll('input');
        inputs.forEach(input => {
            input.disabled = false;
        });
    }

    function setAlert(text) {
        var t = document.getElementById('alert-ui');
        t.style.display = '';
        t.innerHTML = text;
    }

    function checkInput() {
        //TODO: failures, etc.

        /* everything (at least client-side) okay at that point ... */

        var t = document.getElementById('alert-ui');
        t.style.display = 'none';

        var t = document.getElementById('thebutton');
        t.disabled = false;
    }

    checkInput();

    /* initial div */
    initial_analysis = Object.keys(analyses_info)[0]
    analysis_select.value = initial_analysis;
    change_analysis_type(initial_analysis);

</script>

{% endblock %}

