{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 main-view">
            <div class="table-container">
                <table id="result-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Valve ID</th>
                            <th scope="col">Demand not Fulfilled (l/s)</th>
                            <th scope="col">#Nodes directly affected</th>
                            <th scope="col">#Nodes indirectly affected</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for valve_id, diff, seg_a, seg_b, direct, indirect in result %}
                        <tr>
                            <td>{{ valve_id }}</td>
                            <td>{{ diff|floatformat:2 }}</td>
                            <td>{{ direct|length }}</td>
                            <td>{{ indirect|length }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div id="map"></div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-warning">Download</button>
        </div>
        <div class="col-md-4 text-center" id="status-line">
            <p>Click table entry to inspect valve criticality.</p>
        </div>
        <div class="col-md-4 text-right">
            <!-- TODO <button class="btn btn-primary">Change Style</button> -->
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function() {
        $('#result-table').DataTable({
            "pageLength": 25
        });
    });
</script>

<script>

let attrib = 'Datenquelle: <a href="https://basemap.at">basemap.at</a>';

var url_grau = 'https://{s}.wien.gv.at/basemap/bmapgrau/normal/google3857/{z}/{y}/{x}.png';
var tilelayer_grau = L.tileLayer(url_grau, { maxZoom: 22, attribution: attrib, subdomains: ['maps1', 'maps2', 'maps3', 'maps4']});

var map = new L.Map('map', { zoom: 14, layers: [tilelayer_grau]});

drawnItems = L.featureGroup().addTo(map);

let colors = {{ colors|safe }};

var links_geojson = {{ links|safe }};
var nodes_geojson = {{ nodes|safe }};

var result_json = {{ result|safe }};

let links = L.geoJson(links_geojson, {
    style: function(feature) {
        let link_type = feature.properties.type;
        return {
            color: colors[link_type], // || '#000000'
            weight: 2,
        }
    },
    onEachFeature: function(feature, layer) {
        let content = '<div class="popup-content"><table class="table table-bordered table-striped">';
        Object.keys(feature.properties).forEach(function(key) {
            if (typeof feature.properties[key] === 'object') {
                // handle nested object
                content += '<tr><td colspan="2" class="font-weight-bold">' + key + ':</td></tr>';
                Object.keys(feature.properties[key]).forEach(function(subkey) {
                    content += '<tr><td class="font-weight-bold">' + subkey + ':</td><td>' + feature.properties[key][subkey] + '</td></tr>';
                });
            } else {
                // handle regular property
                content += '<tr><td class="font-weight-bold">' + key + ':</td><td>' + feature.properties[key] + '</td></tr>';
            }
        });
        content += '</table></div>';
        layer.bindPopup(content);
    }
});

let nodes = L.geoJson(nodes_geojson, {
    pointToLayer: function (feature, latlng) {
        let node_type = feature.properties.type;
        return L.circleMarker(latlng, {
            // Stroke properties
            color: colors[node_type], // || '#000000'
            opacity: 0.75,
            weight: 2,

            // Fill properties
            fillColor: '#5EA4D4',
            fillOpacity: 1.0,

            radius: 2
        });
    },
    onEachFeature: function(feature, layer) {
        let content = '<div class="popup-content"><table class="table table-bordered table-striped">';
        Object.keys(feature.properties).forEach(function(key) {
            if (typeof feature.properties[key] === 'object') {
                // handle nested object
                content += '<tr><td colspan="2" class="font-weight-bold">' + key + ':</td></tr>';
                Object.keys(feature.properties[key]).forEach(function(subkey) {
                    content += '<tr><td class="font-weight-bold">' + subkey + ':</td><td>' + feature.properties[key][subkey] + '</td></tr>';
                });
            } else {
                // handle regular property
                content += '<tr><td class="font-weight-bold">' + key + ':</td><td>' + feature.properties[key] + '</td></tr>';
            }
        });
        content += '</table></div>';
        layer.bindPopup(content);
    }
});

drawnItems.addLayer(nodes);
drawnItems.addLayer(links);

map.fitBounds(drawnItems.getBounds());

function zoomTo(seg_a, seg_b, directNodes, indirectNodes, clickedRow, diff) {
    document.querySelectorAll('.table-container tbody tr').forEach(function (row) {
        row.classList.remove('table-active');
    });

    var bounds = L.latLngBounds();

    const color = 'darkorange'

    nodes.eachLayer(function (layer) {
        if (directNodes.includes(layer.feature.properties.id)) {
            layer.setStyle({
                color: '#ff0000',
                weight: 8,
                radius: 4
            });

        } else if (indirectNodes.includes(layer.feature.properties.id)) {
            layer.setStyle({
                color: color,
                weight: 8,
                radius: 4
            });

        } else {
            layer.setStyle({
                color: colors[layer.feature.properties.type], // Use your original color logic here
                weight: 2,
                radius: 2
            });
        }
    });

    /*
    links.eachLayer(function (layer) {
        if (seg_a.includes(layer.feature.properties.id)) {
            layer.setStyle({
                color: '#008800',
                weight: 16,
                opacity: 0.5,
            });

            bounds.extend(layer.getBounds().pad(0.1));
        } else {
            layer.setStyle({
                color: colors[layer.feature.properties.type], // Use your original color logic here
                weight: 2,
            });
        }
    });

    links.bringToFront();
    */
    nodes.bringToFront();

    /*
    map.flyToBounds(bounds, {
        duration: 1,
        maxZoom: 19,
    });
    */

    document.getElementById('status-line').innerText = `Demand not fulfilled: ${parseFloat(diff).toFixed(2)}. Nodes impacted: ${parseFloat(directNodes.length)} direct and ${parseFloat(indirectNodes.length)} indirect`;

    clickedRow.classList.add('table-active');
}

document.addEventListener('DOMContentLoaded', function () {
    const tableRows = document.querySelectorAll('.table-container tbody tr');
    tableRows.forEach(function (row, index) {
        row.addEventListener('click', function () {
            //let valve_id = row.querySelector('td:nth-child(1)').textContent;
            //const diff = row.querySelector('td:nth-child(2)').textContent;
            let valve_id = result_json[index][0];
            let diff = result_json[index][1];
            let seg_a = result_json[index][2];
            let seg_b = result_json[index][3];
            let directNodes = result_json[index][4];
            let indirectNodes = result_json[index][5];
            //console.log(linkNames)
            zoomTo(seg_a, seg_b, directNodes, indirectNodes, row, diff);
        });
    });
});

</script>

{% endblock %}
