{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Pipe ID</th>
                            <th scope="col">#Junctions impacted</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pipe_id, count in result %}
                        <tr>
                            <td>{{ pipe_id }}</td>
                            <td>{{ count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div id="map"></div>
        </div>
    </div>
</div>

<script>

let attrib = 'Datenquelle: <a href="https://basemap.at">basemap.at</a>';

var url_grau = 'https://{s}.wien.gv.at/basemap/bmapgrau/normal/google3857/{z}/{y}/{x}.png';
var tilelayer_grau = L.tileLayer(url_grau, { maxZoom: 22, attribution: attrib, subdomains: ['maps1', 'maps2', 'maps3', 'maps4']});

var map = new L.Map('map', { zoom: 14, layers: [tilelayer_grau]});

drawnItems = L.featureGroup().addTo(map);

let colors = {{ colors|safe }};

var links_geojson = {{ links|safe }};
var nodes_geojson = {{ nodes|safe }};

var result_json = {{ result|safe }};

let links = L.geoJson(links_geojson, {
    style: function(feature) {
        let link_type = feature.properties.type;
        return {
            color: colors[link_type], // || '#000000'
            weight: 2,
        }
    },
    onEachFeature: function(feature, layer) {
        let content = '<div class="popup-content"><table class="table table-bordered table-striped">';
        Object.keys(feature.properties).forEach(function(key) {
            if (typeof feature.properties[key] === 'object') {
                // handle nested object
                content += '<tr><td colspan="2" class="font-weight-bold">' + key + ':</td></tr>';
                Object.keys(feature.properties[key]).forEach(function(subkey) {
                    content += '<tr><td class="font-weight-bold">' + subkey + ':</td><td>' + feature.properties[key][subkey] + '</td></tr>';
                });
            } else {
                // handle regular property
                content += '<tr><td class="font-weight-bold">' + key + ':</td><td>' + feature.properties[key] + '</td></tr>';
            }
        });
        content += '</table></div>';
        layer.bindPopup(content);
    }
});

drawnItems.addLayer(links);

let nodes = L.geoJson(nodes_geojson, {
    pointToLayer: function (feature, latlng) {
        let node_type = feature.properties.type;
        return L.circleMarker(latlng, {
            // Stroke properties
            color: colors[node_type], // || '#000000'
            opacity: 0.75,
            weight: 5,

            // Fill properties
            fillColor: '#5EA4D4',
            fillOpacity: 1.0,

            radius: 3
        });
    },
    onEachFeature: function(feature, layer) {
        let content = '<div class="popup-content"><table class="table table-bordered table-striped">';
        Object.keys(feature.properties).forEach(function(key) {
            if (typeof feature.properties[key] === 'object') {
                // handle nested object
                content += '<tr><td colspan="2" class="font-weight-bold">' + key + ':</td></tr>';
                Object.keys(feature.properties[key]).forEach(function(subkey) {
                    content += '<tr><td class="font-weight-bold">' + subkey + ':</td><td>' + feature.properties[key][subkey] + '</td></tr>';
                });
            } else {
                // handle regular property
                content += '<tr><td class="font-weight-bold">' + key + ':</td><td>' + feature.properties[key] + '</td></tr>';
            }
        });
        content += '</table></div>';
        layer.bindPopup(content);
    }
});

drawnItems.addLayer(nodes);

map.fitBounds(drawnItems.getBounds());

function zoomToLinkFeature(linkName, clickedRow, nImpacted) {
    document.querySelectorAll('.table-container tbody tr').forEach(function (row) {
        row.classList.remove('table-active');
    });

    links.eachLayer(function (layer) {
        if (layer.feature.properties.id === linkName) {
            layer.setStyle({
                color: 'darkorange',
                weight: 16,
            });

            map.flyToBounds(layer.getBounds().pad(0.1), {
                duration: 1,
                maxZoom: 19,
            });

            layer.openPopup();

            document.getElementById('status-line').innerText = `Link ${linkName} impacts ${nImpacted} junction(s).`;
        }
        else {
            layer.setStyle({
                color: colors[layer.feature.properties.type],
                weight: 2, //XXX: original
            });
        }
    });

    clickedRow.classList.add('table-active');
}

document.addEventListener('DOMContentLoaded', function () {
    const tableRows = document.querySelectorAll('.table-container tbody tr');
    tableRows.forEach(function (row) {
        row.addEventListener('click', function () {
            const linkName = row.querySelector('td:nth-child(1)').textContent;
            const nImpacted = row.querySelector('td:nth-child(2)').textContent;
            console.log(linkName);
            zoomToLinkFeature(linkName, row, nImpacted);
        });
    });
});

</script>

{% endblock %}
